@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff;

}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*头部导航开始*/
.shortcut{
    height: 30px;
    background-color: #F2F1ED;
    line-height:30px;
}
.fl .dt,
.fr .fore{
    padding:0 25px 0 10px;
    position: relative;
}
.fl .dt i,
.fr .fore i{
    /*font:400 15px/15px "宋体";*/
    font:400  15px/15px "宋体";
    width: 15px;
    height: 7px;
    position: absolute;
    top:13px;
    right:3px;
    overflow: hidden;

}
.fl .dt i s,
.fr .fore i s{
    height: 15px;
    position: absolute;
    top:-8px;
    left: 0;
}
.fr li{
    float: left;
    padding:0 10px;
}
.fr li.jd-phone{
    padding: 0 20px;
    position: relative;       
}
.fr .line{
    margin-top:7px;
    width: 1px;
    height: 16px;
    background-color: #D9D9D9;
    padding: 0;
}
.jd-phone .tel{
    width: 15px;
    height: 20px;
    background-image: url(../images/sprite.png);
    position: absolute;
    left:3px;
    top:5px;
}
/*头部导航结束*/
/*topbanner开始*/
.topbanner {
    background-color: #8A25C6;
}
.bp{
    position: relative;
}
.closeBanner{
    width: 19px;
    height: 19px;
    background: url("../images/close.png");
    position: absolute;
    right: 0;
    top:5px;
}
.closeBanner:hover{
    background-position:bottom;
}
/*topbanner结束*/
.logo{
    width: 362px;
    height: 75px;
    float: left;
    padding-top: 25px;
    background:url("../images/logo.png") no-repeat 0 25px ;
    position: relative;
/*background-pasition
设置背景图的位置 第一个为x，第二个为y。
精灵图实质就是在移动背景图的位置，
只不过由于规定了区域宽高，只能将那部分显示出来*/
}
.d-11{
    width: 180px;
    height:80px;
    position: absolute;
    top: 10px;
    left: 168px;
}
.jd-a{
    display:block;
    width: 270px;
    height: 60px;
    text-indent:-999em;
}
.w .search{
    margin-top: 25px;
    width: 538px;
    height: 35px;
    float:left;
}
.w .search input{
    width: 450px;
    height: 32px;
    border:2px solid #B61D1D;
    padding-left: 4px;
    font: 14px/32px "microsoft yahei";
    color:#666;
    float: left;

}
.w .search button{
    width: 80px;
    height: 36px;
    font:16px/36px "microsoft yahei";
    color:#fff;
    background-color:#B61D1D;
    float: left;
    cursor: pointer;
}
.w .car{
    width: 96px;
    height: 34px;
    float: right;
    margin:25px 65px 0 0;
    padding-left: 43px;
    border:1px solid #DFDFDF;
    line-height: 34px;
    position: relative;
}
.icon1{
    width: 16px;
    height: 13px;
    position: absolute;
    left: 20px;
    top: 10px;
    background: url(../images/sprite.png) no-repeat -1px -59px;
}
.icon2{
    position: absolute;
    top: 10px;
    right: 10px;
    font:400 13px/13px simsun;
}
.icon3{
    position: absolute;
    width: 16px;
    height: 14px;
    top: -4px;
    color:#fff;
    text-align: center;
    background-color:#B61D1D;
    border-radius:7px 7px 7px 0;
    line-height: 14px;
}
.hotword{
    float: left;
    width:500px;
    padding:7px 0;
}
.hotword a{
    margin-right: 6px;
}
/*jd-nav开始*/
.jd-nav{
    height: 44px;
    border-bottom: 2px solid #B1191A;
}
.dropdown{
    position: relative;
    float: left;
    width: 210px;
    height: 44px;
    float: left;
    overflow: visible;
    z-index:9;
}
.dropdown dt a{
    display: block;
    height: 44px;
    padding-left:10px;
    font:400 15px/44px "微软雅黑" ;
    background-color:#B1191A;
    color: white;
}
.dropdown dd{
    margin-top:2px;
    width: 210px;
    height: 465px;
    background-color: #C81623;

}
.dropdown .item2{
    height: 31px;
    border-left:1px solid #B61D1D;
    padding-left: 10px;
    padding-right: 15px;
}
.dropdown .item2 h3{
    float: left;
    font:14px/31px "microsoft yahei";
    color:white;
}
.dropdown .item2 span{
    float: right;
    font:600 9px/31px "simsun";
    color:white;
}

.navitems{
    float: left;
    height: 44px;
    width: 680px;
    
}
.navitems ul li{
    float: left;
}
.navitems ul li.first{
    background: url(../images/new.jpg) no-repeat top right;
}
.navitems ul li a{
    font:400 15px/44px "微软雅黑";
    padding:0 20px;

}
.bike{
    height: 44px;
    width: 140px;
    float: right;
    background:url("../images/bike.jpg") no-repeat;
}
.bike a{
    text-indent:-999em;
    display: block;
    height: 44px;
}
/*jd-nav结束*/
/*底部开始*/
.slogen{
    height: 54px;
    padding:20px 0;
    position: relative;
    background-color: #f5f5f5;
    margin-bottom: 4px;
}
.item{
    position: absolute;
    width: 302px;
    height: 54px;
    left: 50%;
}
.solgen1{
    margin-left:-608px;
    background: url("../images/slogen1.png") no-repeat ;
}.solgen2{
    margin-left:-304px;
    background: url("../images/slogen2.png") no-repeat ;
}.solgen3{
    margin-left:2px;
    background: url("../images/slogen3.png") no-repeat ;
}.solgen4{
    margin-left:304px;
    background: url("../images/slogen4.png") no-repeat ;
}
 .shopping{
     padding-top: 10px;
 }
 .shopping dl{
     width: 198px;
     float: left;
 }
 .shopping dl dt ,
 .coverage .dt{
     font-family:"Microsoft Yahei" ;
     font-size: 16px;
     font-weight:400;
     padding:6px 0;
 }
.shopping dl dd{
    line-height:20px;
}
.coverage{
    width: 210px;
    height: 165px;
    float: right;
    background: url("../images/china.png") no-repeat left bottom;
}

.coverage p{
    line-height: 18px;
}
.coverage .dd{
    margin-top: 10px;
}
.kankan{
    text-align: right;
    margin-top: 5px;

}
.w2{
    border-top:1px solid #e5e5e5;
    text-align: center;
    padding:23px 0 30px 0;
    margin-top:30px;
}
.links a{
    padding:0 6px;
}
.copyright{
    padding:10px 0;
}
.message a{
    margin:0 5px;
}
